{% load static %}
<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html  lang="en"> <!--<![endif]-->
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-135622000-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-135622000-1');
</script>
   <!--- basic page needs
   ================================================== -->
   <meta charset="utf-8">
	<title>Personal website of Aminul Islam</title>
	<meta name="description" content="">
	<meta name="author" content="">

   <!-- mobile specific metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

 	<!-- CSS
   ================================================== -->
   <link rel="stylesheet" href="{% static 'website/css/reset.css' %}">
   <link rel="stylesheet" href="{% static 'website/css/base.css' %}">
   <link rel="stylesheet" href="{% static 'website/css/main.css' %}">
   <link rel="stylesheet" href="{% static 'website/css/vendor.css' %}">
   <link rel="stylesheet" href="{% static 'website/css/academicons.css' %}">

   <link rel="stylesheet" href="{% static 'website/css/custom.css' %}">
   <link rel="stylesheet" href="{% static 'website/css/animate.css' %}">

   <!-- script
   ================================================== -->
   <script src="{% static 'website/js/modernizr.js' %}"></script>
	<script src="{% static 'website/js/pace.min.js' %}"></script>
	<script src="{% static 'website/js/jquery-2.1.3.min.js' %}"></script>
	<script src="{% static 'website/js/wow.js' %}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
	<script src="{% static 'website/js/ai.min.js' %}"></script>
	<script src="{% static 'website/js/basicScroll.min.js' %}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/5.4.0/math.min.js"></script>
	 <script src="https://cdn.plot.ly/plotly-1.2.0.min.js"></script>
	<script src="{% static 'website/js/femLST.js' %}"></script>
	<script>

	</script>
   <!-- favicons
	================================================== -->
	<link rel="icon" type="image/png" href="favicon.png">

</head>

<body id="top" >

	<!-- header
   ================================================== -->
   <header>
   	<div class="row">

   		<div class="top-bar">
   			<a class="menu-toggle" href="#"><span>Menu</span></a>

   		</div>
		<nav id="main-nav-wrap">
				<ul class="main-navigation">
					<li class="current"><a class="smoothscroll"  href="#intro" title="">Home</a></li>
					<li><a class="smoothscroll"  href="#about" title="">About</a></li>
					<li><a class="smoothscroll"  href="#resume" title="">Resume</a></li>
					<li><a class="smoothscroll"  href="#portfolio" title="">Portfolio</a></li>
					<li><a class="smoothscroll"  href="#contact" title="">Contact</a></li>
				</ul>
			</nav> <!-- /top-bar -->

   	</div> <!-- /row -->
   </header> <!-- /header -->

	<!-- intro section
   ================================================== -->
   <section id="intro" class="intro">

   	<div class="intro-overlay"></div>

   	<div class="intro-content">
   		<div class="row">

   			<div class="col-twelve" >

	   			<h5 class="wow fadeInDown" data-wow-duration="3s">Hello!</h5>

					<h1 class="wow fadeInUp" data-wow-duration="3s"> I'm Aminul Islam</h1>


	   			<p class="intro-position">
	   				<span class="wow fadeInLeft " data-wow-duration="3s">Civil & Structural Engineer</span>
	   			</p>

	   			<a class="button stroke smoothscroll" href="#about" title="">More About Me</a>

	   		</div>

   		</div>
   	</div> <!-- /intro-content -->

   	<ul class="intro-social">
         <li><a href="https://www.facebook.com/aminulwre" ><i class="fa fa-facebook wow fadeInLeft" data-wow-duration="3s"></i></a></li>
         <li><a href="https://www.linkedin.com/in/aminul-islam-83567214a/" ><i class="fa fa-linkedin-square wow fadeInLeft" data-wow-duration="3s"></i></a></li>
		 <li><a href="https://scholar.google.com/citations?user=hsEOM6wAAAAJ&hl=en&authuser=1" ><i class="ai ai-google-scholar-square ai-2x ai-s-1x wow fadeInRight" data-wow-duration="3s"></i></a></li>
		<li><a href="https://www.researchgate.net/profile/Md_Islam365" ><i class="ai ai-researchgate-square ai-2x ai-s-1x wow fadeInRight" data-wow-duration="3s"></i></a></li>
      </ul> <!-- /intro-social -->

   </section> <!-- /intro -->


   <!-- about section
   ================================================== -->
   <section id="about">

   	<div class="row section-intro ">
   		<div class="col-twelve">
			<div class="wow zoomIn non-visible">
				<h5>About</h5>
				<h1 class="fadeElement">Let me introduce myself.</h1>
			</div>

   			<div class="intro-info middle ">
				<div class="wow fadeInLeft non-visible">
					<div class=" hexagon ">
						<div class="hexagon-inside">
							<div class="hexagon-image  "></div>
						</div>
					</div>
				</div>

   				<p class="wow fadeInRight abt">I have joined as a graduate research assistant in the Department of Civil Engineering at Boise State University in Fall 2016.
				Prior to coming to Boise State, I worked as a lecturer of Civil Engineering Department in Dhaka International University (DIU).
				I have successfully passed my Fundamental of Engineering (FE) in 2018.</p>
   			</div>

   		</div>
   	</div> <!-- /section-intro -->

   	<div class="row about-content ">

   		<div class="col-six tab-full">

   			<h3 class="wow zoomIn">Profile</h3>

   			<ul class="info-list">
   				<li class="wow zoomIn">
   					<strong>Fullname:</strong>
   					<span>MD Aminul Islam</span>
   				</li>
   				<li class="wow zoomIn">
   					<strong>Job:</strong>
   					<span>Structural Engineer I at <a href="http://www.stiverengineering.com">Stiver Engineering</a></span>
   				</li>
   				<li class="wow zoomIn">
   					<strong>Website:</strong>
   					<span>www.aminul.us</span>
   				</li>
   				<li class="wow zoomIn">
   					<strong>Email:</strong>
   					<span>aminul.ce@outlook.com</span>
   				</li>

   			</ul> <!-- /info-list -->
			<h3 class="wow zoomIn">Skills</h3>

				<ul class="skill-bars ">
				     <li class="wow zoomIn">
				   	<div class="progress percent90"><span>90%</span></div>
				   	<strong>Autocad 2D and 3D</strong>
				   </li>
				   <li class="wow zoomIn">
				   	<div class="progress percent60"><span>80%</span></div>
				   	<strong>RISA 3D</strong>
				   </li>
				   <li class="wow zoomIn">
				   	<div class="progress percent60"><span>80%</span></div>
				   	<strong>RISA Foundation</strong>
				   </li>
				   <li class="wow zoomIn">
				   	<div class="progress percent60"><span>60%</span></div>
				   	<strong>RISA Connection</strong>
				   </li>
				   <li class="wow zoomIn">
				   	<div class="progress percent60"><span>80%</span></div>
				   	<strong>MSEW</strong>
				   </li>
				   <li class="wow zoomIn">
				   	<div class="progress percent40"><span>40%</span></div>
				   	<strong>ETABS/SAFE</strong>
				   </li>
				   <li class="wow zoomIn">
				   	<div class="progress percent80"><span>80%</span></div>
				   	<strong>STAAD Pro</strong>
				   </li>


				</ul> <!-- /skill-bars -->

   		</div>

   		<div class="col-six tab-full">



				<ul class="skill-bars">

				   <li class="wow zoomIn">
				   	<div class="progress percent70"><span>70%</span></div>
				   	<strong>Autodesk Revit</strong>
				   </li>
				   <li class="wow zoomIn">
				   	<div class="progress percent80"><span>80%</span></div>
				   	<strong>Pilebuck, LPile</strong>
				   </li>
				   <li class="wow zoomIn">
				   	<div class="progress percent90"><span>90%</span></div>
				   	<strong>Hilti, CIvilBay</strong>
				   </li>
				   <li class="wow zoomIn">
				   	<div class="progress percent50"><span>30%</span></div>
				   	<strong>Plaxis</strong>
				   </li>

				</ul> <!-- /skill-bars -->

				<h3 class="wow zoomIn">Programming Skills</h3>
				<ul class="skill-bars">
					<li class="wow zoomIn">
				   	<div class="progress percent75 "><span>75%</span></div>
				   	<strong>Matlab</strong>
				   </li>
				   <li class="wow zoomIn">
				   	<div class="progress percent75"><span>75%</span></div>
				   	<strong>C/C++</strong>
				   </li>
				   <li class="wow zoomIn">
				   	<div class="progress percent70"><span>70%</span></div>
				   	<strong>Visual Basic</strong>
				   </li>
				   <li class="wow zoomIn">
				   	<div class="progress percent50"><span>50%</span></div>
				   	<strong>Python</strong>
				   </li>
				   <li class="wow zoomIn">
				   	<div class="progress percent40"><span>40%</span></div>
				   	<strong>Java</strong>
				   </li>
				   <li class="wow zoomIn">
				   	<div class="progress percent80"><span>80%</span></div>
				   	<strong>PHP (Web Programming)</strong>
				   </li>
				</ul>
   		</div>

   	</div>

   	<div class="row button-section">
   		<div class="col-twelve wow zoomIn">
   			<a href="resources/Resume_Aminul_Islam.pdf" title="Download CV" class="button button-primary">Download CV</a>
   		</div>
   	</div>

   </section> <!-- /process-->


   <!-- resume Section
   ================================================== -->
	<section id="resume" class="grey-section">

		<div class="row section-intro">
   		<div class="col-twelve">

   			<h5>Resume</h5>
   			<h1>More of my credentials.</h1>

   			<!--<p class="lead">Here are my workexperiences and educational background.</p>-->

   		</div>
   	</div> <!-- /section-intro-->

   	<div class="row resume-timeline">

   		<div class="col-twelve resume-header">

   			<h2>Work Experience</h2>

   		</div> <!-- /resume-header -->

   		<div class="col-twelve">

   			<div class="timeline-wrap">

   				<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-briefcase wow zoomIn"></i>
	   				</div>
					<div class="timeline-header wow fadeInLeft">
	   					<h3>Structural Engineer I</h3>
	   					<p>May 2019 - Current</p>
	   				</div>

	   				<div class="timeline-content wow fadeInRight">
	   					<h4>Stiver Engineering</h4>
	   					<p>Formwork/falsework design, temporary bridge lift planning, personnel access and fall protection systems, Connection design of steel structures, MSE wall design, soil nailing etc.</p>
	   				</div>
					<div class="timeline-header wow fadeInLeft">
	   					<h3>Engineering Intern</h3>
	   					<p>April 2019 - May 2019</p>
	   				</div>

	   				<div class="timeline-content wow fadeInRight">
	   					<h4>City of Tacoma</h4>
	   					<p> Worked as an integral member of the traffic engineering and transportation planning group, which is responsible for planning, coordinating, and design support for complex transportation planning, traffic engineering, and capital improvement projects. </p>
	   				</div>
	   				<div class="timeline-header wow fadeInLeft">
	   					<h3>Laboratory Testing engineer</h3>
	   					<p>May 2018 - Dec 2018</p>
	   				</div>

	   				<div class="timeline-content wow fadeInRight">
	   					<h4>Idaho Asphalt Supply</h4>
	   					<p>Independently conducted laboratory tests of pavements materials such as asphalt, emulsion, aggregates, etc.</p>
	   				</div>

	   			</div> <!-- /timeline-block -->

	   			<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-briefcase wow zoomIn"></i>
	   				</div>

	   				<div class="timeline-header wow fadeInLeft">
	   					<h3>Graduate Research Assiatant</h3>
	   					<p>August 2016 - December 2018</p>
	   				</div>

	   				<div class="timeline-content wow fadeInRight">
	   					<h4>Boise State University</h4>
	   					<p>Independent Research</p>
	   				</div>

	   			</div> <!-- /timeline-block -->

	   			<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-briefcase wow zoomIn"></i>
	   				</div>

	   				<div class="timeline-header wow fadeInLeft">
	   					<h3>Graduate Teaching Assistant</h3>
	   					<p>August 2016 - April 2018</p>
	   				</div>

	   				<div class="timeline-content wow fadeInRight">
	   					<h4>Boise State University</h4>
	   					<p>Demonstrated Laboratory experiments to undergraduate students</p>
	   				</div>

	   			</div>
				<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-briefcase wow zoomIn"></i>
	   				</div>

	   				<div class="timeline-header wow fadeInLeft">
	   					<h3>Lecturer in Dept. of CE</h3>
	   					<p>July 2014 - August 2016</p>
	   				</div>

	   				<div class="timeline-content wow fadeInRight">
	   					<h4>Dhaka International University</h4>
	   					<p>Teaching undergraduate courses</p>
	   				</div>

	   			</div>
				<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-briefcase wow zoomIn"></i>
	   				</div>

	   				<div class="timeline-header wow fadeInLeft">
	   					<h3>Construction Site Inspector</h3>
	   					<p>Dec 2013 - July 2014</p>
	   				</div>

	   				<div class="timeline-content wow fadeInRight">
	   					<h4>Memorial Christian Hospital</h4>
	   					<p>Testing construction materials</p>
	   				</div>

	   			</div>
				<!-- /timeline-block -->

   			</div> <!-- /timeline-wrap -->

   		</div> <!-- /col-twelve -->

   	</div> <!-- /resume-timeline -->

   	<div class="row resume-timeline">

   		<div class="col-twelve resume-header">

   			<h2>Education</h2>

   		</div> <!-- /resume-header -->

   		<div class="col-twelve">

   			<div class="timeline-wrap">

   				<div class="timeline-block">

	   				<div class="timeline-ico wow zoomIn">
	   					<i class="fa fa-graduation-cap"></i>
	   				</div>

	   				<div class="timeline-header wow fadeInLeft">
	   					<h3>MS in Civil Engineering</h3>
	   					<p>August 2016 - December 2018</p>
	   				</div>

	   				<div class="timeline-content wow fadeInRight">
	   					<h4>Boise State University</h4>
	   					<p>CGPA: 3.88 <br/> Top 10%</p>
	   				</div>

	   			</div> <!-- /timeline-block -->

	   			<div class="timeline-block">

	   				<div class="timeline-ico wow zoomIn">
	   					<i class="fa fa-graduation-cap"></i>
	   				</div>

	   				<div class="timeline-header wow fadeInLeft">
	   					<h3>BS in civil Engineering</h3>
	   					<p>September 2009 - December 2013</p>
	   				</div>

	   				<div class="timeline-content wow fadeInRight">
	   					<h4>Ahsanullah University of Science and Technology</h4>
	   					<p>CGPA: 3.94 <br/>
						Position: 1 out of 110</p>
	   				</div>

	   			</div> <!-- /timeline-block -->



   			</div> <!-- /timeline-wrap -->

   		</div> <!-- /col-twelve -->

   	</div> <!-- /resume-timeline -->

	</section> <!-- /features -->


	<!-- Portfolio Section
   ================================================== -->
	<section id="portfolio">

		<div class="row section-intro wow zoomIn">
   		<div class="col-twelve">

   			<h5>Portfolio</h5>
   			<h1>Check Out Some of My Works.</h1>

   			<p class="lead"></p>

   		</div>
   	</div> <!-- /section-intro-->

   	<div class="row portfolio-content">

   		<div class="col-twelve">

   			<!-- portfolio-wrapper -->
	         <div id="folio-wrapper" class="block-1-2 block-mob-full stack">

	         	<div class="bgrid folio-item wow fadeInLeft">
					<div class="item-wrap">
						<img src="{% static 'website/images/one-way.png' %}" alt="One-way slab design">
						  <a href="#modal-01" class="overlay">
							 <div class="folio-item-table">
								<div class="folio-item-cell">
								   <h3 class="folio-title">One-Way Slab Design</h3>
									 <span class="folio-types">
									  RCC Design
								   </span>
								</div>
							 </div>
						  </a>
						</div>
	        		</div> <!-- /folio-item 01 -->

	        	<div class="bgrid folio-item wow fadeInRight">
					<div class="item-wrap">
						<img src="{% static 'website/images/two-way.png' %}" alt="Two-way slab design">
						<a href="#modal-02" class="overlay">
							 <div class="folio-item-table">
								<div class="folio-item-cell">
									<h3 class="folio-title">Two-way slab design</h3>
											<span class="folio-types">
											  RCC Design
										  </span>
									   </div>
							 </div>
						</a>
					</div>
	        	</div> <!-- /folio-item 02 -->

				<div class="bgrid folio-item wow fadeInRight">
					<div class="item-wrap">
						<img src="{% static 'website/images/pg.jpg' %}" alt="PG Calculator">
						<a href="#modal-03" class="overlay">
							 <div class="folio-item-table">
								<div class="folio-item-cell">
									<h3 class="folio-title">PG Calculator</h3>
											<span class="folio-types">
											  PG calculator
										  </span>
								</div>
							 </div>
						</a>
					</div>
	        	</div> <!-- /folio-item 03 -->
				<div class="bgrid folio-item wow fadeInRight">
					<div class="item-wrap">
						<img src="{% static 'website/images/fea.png' %}" alt="Finite Element Analysis">
						<a href="#modal-04" class="overlay">
							 <div class="folio-item-table">
								<div class="folio-item-cell">
									<h3 class="folio-title">JS based Finite Element ANalysis</h3>
										<span class="folio-types">
										  Finite Element
									  </span>
								</div>
							 </div>
						</a>
					</div>
	        	</div> <!-- /folio-item 04 -->


	            <!-- modal popups - begin
	            ============================================================= -->
	            <div id="modal-01" class="popup-modal slider mfp-hide">
					<div class="media">
						<img src="{% static 'website/images/one-way.png' %}" alt="One-way slab reinforcement details" />
					</div>
				   <div class="description-box">
					  <h4>One-way slab design</h4>
					  <p>I have developed this web based one-way RCC slab design code. A user can simply input the dimensions and reinforcemnt details such as rebar diameter,
					  and ultimate strength. These informations are easily available to a user. As soon as the user presses the analyze button after providing the necessary informations a figure (similar to this) appears at
					  the bottom of the page showing the reinforcement details</p>

					  <div class="categories">RCC Design</div>
				   </div>

				    <div class="link-box">
						<a href="http://simplifieddesignofconcretestructures.weebly.com/one-way-slab-design.html">Give it a try</a>
						<a href="#" class="popup-modal-dismiss">Close</a>
				    </div>

				</div> <!-- /modal-01 -->

			    <div id="modal-02" class="popup-modal slider mfp-hide">
					<div class="media">
						<img src="{% static 'website/images/two-way.png' %}" alt="Two-way slab reinforcement details" />
					</div>
				    <div class="description-box">
						<h4>Two-way slab design</h4>
						<p>I have developed this web based two-way RCC slab design code. A user can simply input the dimensions and reinforcemnt details such as rebar diameter,
						  and ultimate strength. These informations are easily available to a user. As soon as the user presses the analyze button after providing the necessary informations a figure (similar to this) appears at
						  the bottom of the page showing the reinforcement details. This code also provides the extimation of reinforcements necessary for the constroction</p>

						<div class="categories">RCC Design</div>
				    </div>
					<div class="link-box">
						<a href="http://simplifieddesignofconcretestructures.weebly.com/two-way-slab---aci-old-alt-m-coeff.html">Give it a try</a>
						<a href="#" class="popup-modal-dismiss">Close</a>
					</div>
			    </div> <!-- /modal-02 -->

				<div id="modal-03" class="popup-modal slider mfp-hide popup-modal-pg">
					<div class="media">

					</div>
				    <div class="description-box">
						<div class="row centered">
							<div class = "col-twelve underline">
								<h3>PG Calculator by Aminul Islam</h3>
							</div>
						</div>

						<div class="row fpt-holder">
							<div class="col-twelve">
								<label >Flash point Temperature</label>
								<input name="num1" type="text" id="flp" placeholder="Flash Point Temperature" class = "calc" value="" size="100%">
							</div>
						</div>
						<div class="row visc-holder">
							<div class="col-twelve">
								<label >Viscosity</label>
								<input name="visc1" type="text" id="visc1" placeholder="Viscosity at 135&#8451" class = "calc" value="" size="100%">
							</div>
						</div>
						<div class="row ds1-holder">
							<div class="col-six temp-holder ">
								<label >Original DSR Test Temperature/s</label>
								<input name="temp-ds1-1" type="text" id="temp-ds1-1" placeholder="Temperature" class = "calc" value="" size="100%">

							</div>
							<div class="col-six ds1-value-holder">
								<label >Original DSR<sup>*1</sup> Value</label>
								<input name="ds1-1" type="text" id="ds1-1" placeholder="Dynamic shear" class = "calc " value="" size="100%">
							</div>
						</div>
						<div class="row ds2-holder">
							<div class="col-six temp-holder ">
								<label >RTFO DSR Test Temperature/s</label>
								<input name="temp-ds2-1" type="text" id="temp-ds2-1" placeholder="Temperature" class = "calc" value="" size="100%">
							</div>
							<div class="col-six ds2-value-holder">
								<label >RTFO<sup>*2</sup> DSR Value</label>
								<input name="ds2-1" type="text" id="ds2-1" placeholder="Dynamic shear" class = "calc " value="" size="100%">
							</div>
						</div>
						<div class="row ds3-holder">
							<div class="col-six temp-holder ">
								<label >PAV DSR Test Temperature/s</label>
								<input name="temp-ds3-1" type="text" id="temp-ds3-1" placeholder="Temperature" class = "calc" value="" size="100%">
							</div>
							<div class="col-six ds3-value-holder">
								<label >PAV<sup>*3</sup> DSR Value</label>
								<input name="ds3-1" type="text" id="ds3-1" placeholder="Dynamic shear" class = "calc " value="" size="100%">
							</div>
						</div>
						<div class="row cs-holder">
							<div class="col-six temp-holder ">
								<label >CS Test Temperature/s</label>
								<input name="temp-ds3-1" type="text" id="temp-cs-1" placeholder="Temperature" class = "calc" value="" size="100%">
							</div>
							<div class="col-six s-value-holder">
								<label >CS<sup>*4</sup> Value</label>
								<input name="ds3-1" type="text" id="s-1" placeholder="S-values" class = "calc " value="" size="100%">
							</div>

						</div>
						<div class="row cs-holder">
							<div class="col-six temp-holder "></div>
							<div class="col-six m-value-holder pull-right">
								<input name="ds3-1" type="text" id="m-1" placeholder="m-values" class = "calc " value="" size="100%">
							</div>

						</div>
						<div class="row dt-holder">
							<div class="col-six temp-holder ">
								<label >DT Test Temperature/s</label>
								<input name="temp-dt-1" type="text" id="temp-dt-1" placeholder="Temperature" class = "calc" value="" size="100%">

							</div>

								<div class="col-six ds1-value-holder">
									<label >DT<sup>*5</sup> Value</label>
									<input name="dt-1" type="text" id="dt-1" placeholder="Direct tension" class = "calc " value="" size="100%">
								</div>

						</div><!--End of input fields-->
						<!--<button class="stroke" id="add_field">Add a row</button>-->
						<div class="row result-contained">
						<div id="result">This is result</div>
						<div id="result-error">The is error</div>
						</div>
						<div class="row btn-row">
							<button class="btn-middle" id="pg-calc">Calculate</button>
			            </div>
						<div class="row instructions">
							<h4>Instructions</h4>
							<div class="instructions"><p>Multiple values should be seperated by commas</p></div>
							<div class="instructions"><p>Number of temperature inputs should be equal to Corresponding test data inputs</p></div>
							<div class="instructions"><p>DSR values should be provided in kPa</p></div>
							<div class="instructions"><p>S-values values should be provided in MPa</p></div>
							<div class="instructions"><p><sup>1</sup> Dynamic Shear Rheometer Test</p></div>
							<div class="instructions"><p><sup>2</sup> Rolling Thin Folm Oven Test</p></div>
							<div class="instructions"><p><sup>3</sup> Pressure Aging Vessel Test</p></div>
							<div class="instructions"><p><sup>4</sup> Creep Stiffness Test</p></div>
							<div class="instructions"><p><sup>5</sup> Direct Tension Test</p></div>
							<div class="instructions"><p>For any bug report please contact @ aminul(dot)ce(at)outlook(dot)com</p></div>
						</div>

						</div>
					<div class="link-box">
						<a href="{% static 'website/images/pg.png' %}">Example of valid input</a>
						<a href="#" class="popup-modal-dismiss">Close</a>
					</div>
			    </div> <!-- /modal-03 -->
				<div id="modal-04" class="popup-modal slider mfp-hide popup-modal-pg">
    			    <div class="description-box">
						<h4>Finite element analysis</h4>
						<p>Finite element is implemented using javascript. Mathematical calculations are done using Math.js a javascript based open source matrix library, and the figures are drawn using plotly another open source js library. A documentation on the input file is provided in my <a href="https://github.com/aminulce/femLST-JS">github</a> repository.</p>
						<p>A sample input is provided in the following textarea. The inputs are collected using JavaScript Object Notation (JSON). For details on JSON please visit <a href="https://en.wikipedia.org/wiki/JSON">Wikipedia</a>.</p>
						<p>In general, the variable is declared on the left side of colon (:) and the right side of the colon contains the value that is assigned to the variable. For example,</p>
						<p>The first line after the initial curly brace reads as "E" : 2e6. This means the value of the variable "E" is 2x10^6.</p>
						<p>From top to bottom the variables are:</p>
						<ul>
							<li>E - Elastic modulus.</li>
							<li>nu - Poisson's ratio. </li>
							<li>Nodes - The coordinates of the nodes, [During calculation, the first node is assigned a value 1, second node is assigned a value of 2 and so on.]</li>
							<li>elems - The sequence of the nodes that form an element. Each row contains one element.</li>
							<li>loads - Node number, direction of load application and load value is provided in sequence. Each row contains one load.</li>
							<li>BC - Boundary Conditions. Node number where the BC is applied and the direction in which the movement is restricted is provided in sequence.</li>
						</ul>
						<p>For details please visit <a href="https://github.com/aminulce/femLST-JS">github</a> repository. Feel free to play with the inputs. For any bug report please contact @ aminul(dot)ce(at)outlook(dot)com</p>
						<textarea name="input" id="input" placeholder="Input Area" rows="50" cols="50" value=>
	{
	"E":2e6,

	"nu":0.2,

	"nodes":[[0,0],
		 [1,-1],
		 [1,1],
		 [0.5,-0.5],
		 [1,0],
		 [0.5,0.5],
		 [2,0],
		 [1.5,-0.5],
		 [1.5,0.5]],
	"elems":[[1,2,3,4,5,6],
			 [2,7,3,8,9,5]],

	"loads": [[7,1,-50],
		      [2,2,100]],

	"BC": [[1,1],
		   [1,2],
		   [3,1],
		   [3,2],
		   [2,1]]
	}
						</textarea>

<button class="btn-middle" id="fem-calc">Calculate</button>
<div id="myDivOrig"></div>
<div id="myDivDeformed"></div>
<div id="myDivBoth"></div>
						<div class="categories">Finite Element Analysis</div>
				    </div>
					<div class="link-box">
						<a href="https://github.com/aminulce/femLST-JS">Github Repositiry</a>
						<a href="#" class="popup-modal-dismiss">Close</a>
					</div>
			    </div> <!-- /modal-02 -->



				   <!-- modal popups - end
	            ============================================================= -->

	         </div> <!-- /portfolio-wrapper -->

   		</div>  <!-- /twelve -->

   	</div> <!-- /portfolio-content -->

	</section> <!-- /portfolio -->

   <!-- contact
   ================================================== -->
	<section id="contact">

		<div class="row section-intro">
   		<div class="col-twelve">

   			<h5>Contact</h5>
   			<h1>I'd Love To Hear From You.</h1>

   			<p class="lead">If you would like to know more about me then send me a message.<br/> I will get back to you shortly. <br/>-AI-</p>

   		</div>
   	</div> <!-- /section-intro -->

   	<div class="row contact-form">

   		<div class="col-twelve">

            <!-- form -->
            <form name="contactForm" id="contactForm" method="post" action="send-email.php">
      			<fieldset>

                  <div class="form-field wow fadeInLeft">
 						   <input name="name" type="text" id="contactName" placeholder="Name" value="" minlength="2" required="" >
                  </div>
                  <div class="form-field wow fadeInRight">
	      			   <input name="email" type="email" id="contactEmail" placeholder="Email" value="" required="">
	               </div>
                  <div class="form-field wow fadeInLeft">
	     				   <input name="phone" type="text" id="contactSubject" placeholder="phone" value="">
	               </div>
                  <div class="form-field wow fadeInRight">
	                 	<textarea name="message" id="contactMessage" placeholder="message" rows="10" cols="50" required=""></textarea>
	               </div>
                 <div class="form-field wow zoomIn" >
                     <button class="submitform stroke" >Submit</button>
                     <div id="submit-loader">
                        <div class="text-loader">Sending...</div>
       				      <div class="s-loader">
								  	<div class="bounce1"></div>
								  	<div class="bounce2"></div>
								  	<div class="bounce3"></div>
								</div>
							</div>
                  </div>

      			</fieldset>
      		</form> <!-- Form End -->

            <!-- contact-warning -->
            <div id="message-warning">
            </div>
            <!-- contact-success -->
      		<div id="message-success">
               <i class="fa fa-check">Thank you for contacting me. I will be in touch with you very soon.</i><br>
      		</div>

         </div> <!-- /col-twelve -->

   	</div> <!-- /contact-form -->

   	<div class="row contact-info">

   		<div class="col-four tab-full">

   			<div class="icon">
   				<i class="icon-pin"></i>
   			</div>

   			<h5>Where to find me</h5>

   			<p>
            2423 Winrock Blvd<br>
            Houston, TX, 77057
            </p>

   		</div>

   		<div class="col-four tab-full collapse">

   			<div class="icon">
   				<i class="icon-mail"></i>
   			</div>

   			<h5>Email Me At</h5>

   			<p>aminul.ce@outlook.com</p>

   		</div>

   		<div class="col-four tab-full">

   			<div class="icon">
   				<i class="icon-phone"></i>
   			</div>

   			<h5>Call Me At</h5>

   			<p>Phone: (+208) 996 3568</p>

   		</div>

   	</div> <!-- /contact-info -->

	</section> <!-- /contact -->


   <!-- footer
   ================================================== -->

   <footer>
     	<div class="row">

     		<div class="col-six tab-full pull-right social">

     			<ul class="footer-social">
					<li><a href="https://www.facebook.com/aminulwre" ><i class="fa fa-facebook wow fadeInLeft" ></i></a></li>
         <li><a href="https://www.linkedin.com/in/aminul-islam-83567214a/" ><i class="fa fa-linkedin-square wow fadeInLeft" ></i></a></li>
					<li><a href="https://scholar.google.com/citations?user=hsEOM6wAAAAJ&hl=en&authuser=1"><i class="ai ai-google-scholar-square ai-2x ai-s-1x wow fadeInRight"></i></a></li>
					<li><a href="https://www.researchgate.net/profile/Md_Islam365"><i class="ai ai-researchgate-square ai-2x ai-s-1x wow fadeInRight"></i></a></li>
			   </ul>

	      </div>

			<div class="col-six tab-full">
				 <div class="copyright">
		        	<span>© Copyright AI <script>document.write(new Date().getFullYear());</script>.</span>
		        	<span>Design by styleshout</span>
		         </div>
	      	</div>

	      	<div id="go-top">
		         <a class="smoothscroll" title="Back to Top" href="#top"><i class="fa fa-long-arrow-up"></i></a>
		      </div>

      	</div> <!-- /row -->
   </footer>

<!--   <div id="preloader">
    	<div id="loader"></div>
   </div> -->
	<div id= "preloader" class="orbit-spinner">
	<div id="loader">
	  <div class="orbit"></div>
	  <div class="orbit"></div>
	  <div class="orbit"></div>
	</div>
	</div>

   <!-- Java Script
   ================================================== -->

   <script src="{% static 'website/js/plugins.js' %}"></script>
   <script src="{% static 'website/js/main.js' %}"></script>

   <script>
	new WOW().init();
   </script>
   <script src="{% static 'website/js/addBasicScroll.js' %}"></script >
<script>
//callingfemlst and reading data from jason created by femLst
//{"data":[[1,2,3,4,5,6],[2,7,3,9,8,5],[7,10,3,12,11,8]]}

$('#fem-calc').click(function(){
var input = JSON.parse($("#input").val());

var E, nu, nodes, force, bCond;
/*var els;/* = {"data":[[1,2,3,4,5,6],
		           [2,7,3,9,8,5],
				   [7,10,3,12,11,8]]
		  };*/
E=input.E;
nu = input.nu;
const elems = math.matrix(input.elems);

var numberOfElements = numel('row',elems);
nodes = math.matrix(input.nodes);

var dimension = 2;
var loadedNodes = math.matrix(input.loads);

var fixedNodesWithDirections = math.matrix(input.BC);

//End of Inputs
var transpNodes = math.transpose(nodes).valueOf();
var transpLoadedNodes = math.transpose(loadedNodes).valueOf();

var transpBCNodes = math.transpose(fixedNodesWithDirections).valueOf();
//Getting indices of loaded and BC nodes
var loadedNodeIndices = nodeIndexFromNodeNumberAndDirections(transpLoadedNodes[0],transpLoadedNodes[1],dimension);
var bcNodeIndices = nodeIndexFromNodeNumberAndDirections(transpBCNodes[0],transpBCNodes[1],dimension);
//Building force matrix
var forceMatrix=math.zeros([numel('row',nodes)]*2);//for 2d there are two co-ordinates for each node
var loads = transpLoadedNodes[2];
if (typeof loadedNodeIndices=='number')
	forceMatrix.subset(math.index(loadedNodeIndices),loads[0]);
else
{
	for (var jj = 0; jj<loadedNodeIndices.length;jj++)//applying the loads on specified nodes
	{
		forceMatrix.subset(math.index(loadedNodeIndices[jj]),loads[jj]);
	}
}
console.log(typeof loadedNodeIndices);
//Building boundary condition Matrix
var boundaryCondition=math.matrix([bcNodeIndices]);//boundary conditions
//gettign the results
var outNodes = lst(nodes,elems,forceMatrix,boundaryCondition, E, nu);
const dispNodes = JSON.parse(outNodes[1], math.json.reviver);
var transpDispNodes = math.transpose(dispNodes).valueOf();
var drawOrder= math.matrix([[0,3,1,4,5,0]]);

var splittedNodes = splitter(nodes,elems);
var xValsForNodes = splittedNodes[0]; //splitting x and y values
var yValsForNodes = splittedNodes[1];
var splittedDispNodes = splitter(dispNodes,elems);
var xValsForDispNodes = splittedDispNodes[0]; //splitting x and y values
var yValsForDispNodes = splittedDispNodes[1];


var XValsForNodes = math.transpose(xValsForNodes).valueOf(); //matrix to array
var YValsForNodes = math.transpose(yValsForNodes).valueOf();
var XValsForDispNodes = math.transpose(xValsForDispNodes).valueOf();
var YValsForDispNodes = math.transpose(yValsForDispNodes).valueOf();



//plotting on myDiv2
var drawOrigNodes = [];
var drawDispNodes = [];
var dataOrig = [], dataDeformed = [], dataBoth = [];
for (var tt = 0;tt<numberOfElements; tt++){
	 drawOrigNodes[tt]= {
	  x: XValsForNodes[tt].valueOf(),
	  y: YValsForNodes[tt].valueOf(),
	  type: 'scatter',
	  hoverinfo: 'none',
	  marker: {
	  color: '#000',
	  size: 8
	  },
	  line: {
	  color: '#686666',
	  width: 2
	  }
	};
	dataOrig.push(drawOrigNodes[tt]);
	dataBoth.push(drawOrigNodes[tt]);
	drawDispNodes[tt]= {
	  x: XValsForDispNodes[tt].valueOf(),
	  y: YValsForDispNodes[tt].valueOf(),
	  type: 'scatter',
	  hoverinfo: 'none',
	  marker: {
	  color: '#ad0a46',
	  size: 8
	  },
	  line: {
	  color: '#005a96',
	  width: 2
	  }
	};
	dataDeformed.push(drawDispNodes[tt]);
	dataBoth.push(drawDispNodes[tt]);
}

var annDeformed = [],annOrig = [];
if (typeof loadedNodeIndices != 'number')
{
	for (jj = 0; jj<loadedNodeIndices.length;jj++)//Adding annotation arrows
	{
		if (transpLoadedNodes[1][jj]==1)//Checking the direction of load application 1 means x direction
		{
			if (transpLoadedNodes[2][jj]<0){ //checking the sign of load application (if the load is negative)
			annDeformed[jj] = {
				  x: transpDispNodes[0][transpLoadedNodes[0][jj]-1],
				  y: transpDispNodes[1][transpLoadedNodes[0][jj]-1],
				  xref: 'x',
				  yref: 'y',
				  text: String(transpLoadedNodes[2][jj]),
				  font: {
				  color: "black",
				  size: 15
				  },
				  showarrow: true,
				  arrowcolor: 'rgb(142, 22, 30)',
				  arrowhead: 2,
				  arrowsize: 1,
				  arrowwidth: 4,
				  ax: 50,
				  ay: 0
				};
			annOrig[jj] = {
				  x: transpNodes[0][transpLoadedNodes[0][jj]-1],
				  y: transpNodes[1][transpLoadedNodes[0][jj]-1],
				  xref: 'x',
				  yref: 'y',
				  text: String(transpLoadedNodes[2][jj]),
				  font: {
				  color: "black",
				  size: 15
				  },
				  showarrow: true,
				  arrowcolor: 'rgb(142, 22, 30)',
				  arrowhead: 2,
				  arrowsize: 1,
				  arrowwidth: 4,
				  ax: 50,
				  ay: 0
				};
			}
			else{
			annDeformed[jj] = {
				  x: transpDispNodes[0][transpLoadedNodes[0][jj]-1],
				  y: transpDispNodes[1][transpLoadedNodes[0][jj]-1],
				  xref: 'x',
				  yref: 'y',
				  text: String(transpLoadedNodes[2][jj]),
				  font: {
				  color: "black",
				  size: 15
				  },
				  showarrow: true,
				  arrowcolor: 'rgb(142, 22, 30)',
				  arrowhead: 2,
				  arrowsize: 1,
				  arrowwidth: 4,
				  ax: -50,
				  ay: 0
				};
			annOrig[jj] = {
				  x: transpNodes[0][transpLoadedNodes[0][jj]-1],
				  y: transpNodes[1][transpLoadedNodes[0][jj]-1],
				  xref: 'x',
				  yref: 'y',
				  text: String(transpLoadedNodes[2][jj]),
				  font: {
				  color: "black",
				  size: 15
				  },
				  showarrow: true,
				  arrowcolor: 'rgb(142, 22, 30)',
				  arrowhead: 2,
				  arrowsize: 1,
				  arrowwidth: 4,
				  ax: -50,
				  ay: 0
				};
			}
		}
		else if(transpLoadedNodes[1][jj]==2) //Checking the direction of load application 2 means y direction
		{

			if (transpLoadedNodes[2][jj]<0){ //checking the sign of load application (if the load sign is negative)
				annDeformed[jj] = {
					  x: transpDispNodes[0][transpLoadedNodes[0][jj]-1],
					  y: transpDispNodes[1][transpLoadedNodes[0][jj]-1],
					  xref: 'x',
					  yref: 'y',
					  text: String(transpLoadedNodes[2][jj]),
					  font: {
					  color: "black",
					  size: 15
					  },
					  showarrow: true,
					  arrowcolor: 'rgb(142, 22, 30)',
					  arrowhead: 2,
					  arrowsize: 1,
					  arrowwidth: 4,
					  ax: 0,
					  ay: -50
					};
				annOrig[jj] = {
					  x: transpNodes[0][transpLoadedNodes[0][jj]-1],
					  y: transpNodes[1][transpLoadedNodes[0][jj]-1],
					  xref: 'x',
					  yref: 'y',
					  text: String(transpLoadedNodes[2][jj]),
					  font: {
					  color: "black",
					  size: 15
					  },
					  showarrow: true,
					  arrowcolor: 'rgb(142, 22, 30)',
					  arrowhead: 2,
					  arrowsize: 1,
					  arrowwidth: 4,
					  ax: 0,
					  ay: -50
					};
			}
			else { //checking the sign of load application (if the load sign is positive)
				annDeformed[jj] = {
					  x: transpDispNodes[0][transpLoadedNodes[0][jj]-1],
					  y: transpDispNodes[1][transpLoadedNodes[0][jj]-1],
					  xref: 'x',
					  yref: 'y',
					  text: String(transpLoadedNodes[2][jj]),
					  font: {
					  color: "black",
					  size: 15
					  },
					  showarrow: true,
					  arrowcolor: 'rgb(142, 22, 30)',
					  arrowhead: 2,
					  arrowsize: 1,
					  arrowwidth: 4,
					  ax: 0,
					  ay: 50
					};
				annOrig[jj] = {
					  x: transpNodes[0][transpLoadedNodes[0][jj]-1],
					  y: transpNodes[1][transpLoadedNodes[0][jj]-1],
					  xref: 'x',
					  yref: 'y',
					  text: String(transpLoadedNodes[2][jj]),
					  font: {
					  color: "black",
					  size: 15
					  },
					  showarrow: true,
					  arrowcolor: 'rgb(142, 22, 30)',
					  arrowhead: 2,
					  arrowsize: 1,
					  arrowwidth: 4,
					  ax: 0,
					  ay: 50
					};
			}
		}
	}
}
else {
	if (transpLoadedNodes[1][0]==1)//Checking the direction of load application 1 means x direction
	{
		if (transpLoadedNodes[2][0]<0){ //checking the sign of load application (if the load is negative)
		annDeformed = {
			  x: transpDispNodes[0][transpLoadedNodes[0][0]-1],
			  y: transpDispNodes[1][transpLoadedNodes[0][0]-1],
			  xref: 'x',
			  yref: 'y',
			  text: String(transpLoadedNodes[2][0]),
			  font: {
			  color: "black",
			  size: 15
			  },
			  showarrow: true,
			  arrowcolor: 'rgb(142, 22, 30)',
			  arrowhead: 2,
			  arrowsize: 1,
			  arrowwidth: 4,
			  ax: 50,
			  ay: 0
			};
		annOrig = {
			  x: transpNodes[0][transpLoadedNodes[0][0]-1],
			  y: transpNodes[1][transpLoadedNodes[0][0]-1],
			  xref: 'x',
			  yref: 'y',
			  text: String(transpLoadedNodes[2][0]),
			  font: {
			  color: "black",
			  size: 15
			  },
			  showarrow: true,
			  arrowcolor: 'rgb(142, 22, 30)',
			  arrowhead: 2,
			  arrowsize: 1,
			  arrowwidth: 4,
			  ax: 50,
			  ay: 0
			};
		}
		else{
		annDeformed = {
			  x: transpDispNodes[0][transpLoadedNodes[0][0]-1],
			  y: transpDispNodes[1][transpLoadedNodes[0][0]-1],
			  xref: 'x',
			  yref: 'y',
			  text: String(transpLoadedNodes[2][0]),
			  font: {
			  color: "black",
			  size: 15
			  },
			  showarrow: true,
			  arrowcolor: 'rgb(142, 22, 30)',
			  arrowhead: 2,
			  arrowsize: 1,
			  arrowwidth: 4,
			  ax: -50,
			  ay: 0
			};
		annOrig = {
			  x: transpNodes[0][transpLoadedNodes[0][0]-1],
			  y: transpNodes[1][transpLoadedNodes[0][0]-1],
			  xref: 'x',
			  yref: 'y',
			  text: String(transpLoadedNodes[2][0]),
			  font: {
			  color: "black",
			  size: 15
			  },
			  showarrow: true,
			  arrowcolor: 'rgb(142, 22, 30)',
			  arrowhead: 2,
			  arrowsize: 1,
			  arrowwidth: 4,
			  ax: -50,
			  ay: 0
			};
		}
	}
	else if(transpLoadedNodes[1][0]==2) //Checking the direction of load application 2 means y direction
	{
		if (transpLoadedNodes[2][0]<0)
		{ //checking the sign of load application (if the load sign is negative)
			annDeformed = {
				  x: transpDispNodes[0][transpLoadedNodes[0][0]-1],
				  y: transpDispNodes[1][transpLoadedNodes[0][0]-1],
				  xref: 'x',
				  yref: 'y',
				  text: String(transpLoadedNodes[2][0]),
				  font: {
				  color: "black",
				  size: 15
				  },
				  showarrow: true,
				  arrowcolor: 'rgb(142, 22, 30)',
				  arrowhead: 2,
				  arrowsize: 1,
				  arrowwidth: 4,
				  ax: 0,
				  ay: -50
				};
			annOrig = {
				  x: transpNodes[0][transpLoadedNodes[0][0]-1],
				  y: transpNodes[1][transpLoadedNodes[0][0]-1],
				  xref: 'x',
				  yref: 'y',
				  text: String(transpLoadedNodes[2][jj]),
				  font: {
				  color: "black",
				  size: 15
				  },
				  showarrow: true,
				  arrowcolor: 'rgb(142, 22, 30)',
				  arrowhead: 2,
				  arrowsize: 1,
				  arrowwidth: 4,
				  ax: 0,
				  ay: -50
				};
				console.log(annOrig)
		}
		else { //checking the sign of load application (if the load sign is positive)
			annDeformed = {
				  x: transpDispNodes[0][transpLoadedNodes[0][0]-1],
				  y: transpDispNodes[1][transpLoadedNodes[0][0]-1],
				  xref: 'x',
				  yref: 'y',
				  text: String(transpLoadedNodes[2][0]),
				  font: {
				  color: "black",
				  size: 15
				  },
				  showarrow: true,
				  arrowcolor: 'rgb(142, 22, 30)',
				  arrowhead: 2,
				  arrowsize: 1,
				  arrowwidth: 4,
				  ax: 0,
				  ay: 50
				};
			annOrig = {
				  x: transpNodes[0][transpLoadedNodes[0][0]-1],
				  y: transpNodes[1][transpLoadedNodes[0][0]-1],
				  xref: 'x',
				  yref: 'y',
				  text: String(transpLoadedNodes[2][0]),
				  font: {
				  color: "black",
				  size: 15
				  },
				  showarrow: true,
				  arrowcolor: 'rgb(142, 22, 30)',
				  arrowhead: 2,
				  arrowsize: 1,
				  arrowwidth: 4,
				  ax: 0,
				  ay: 50
				};
		}
	}
}//end of drawing annotation arrows


var layoutDeformed = {
  title: "Deformed Structure",
  width:600,
  height:600,
  showlegend: false,
  xaxis: {
    autorange: true,
    showgrid: true,
    zeroline: false,
    showline: true,
    autotick: true,
    showticklabels: true,
	linewidth: 2,
    mirror: true
  },
  yaxis: {
    autorange: true,
    showgrid: true,
    zeroline: false,
    showline: true,
    autotick: true,
    showticklabels: true,
	linewidth: 2,
    mirror: true
  },
  annotations: annDeformed
}
console.log(layoutDeformed)
var layoutOrig = {
  title: "Original Structure",
  width:600,
  height:600,
  showlegend: false,
  xaxis: {
    autorange: true,
    showgrid: true,
    zeroline: false,
    showline: true,
    autotick: true,
    showticklabels: true,
	linewidth: 2,
    mirror: true
  },
  yaxis: {
    autorange: true,
    showgrid: true,
    zeroline: false,
    showline: true,
    autotick: true,
    showticklabels: true,
	linewidth: 2,
    mirror: true
  },
  annotations: annOrig
}
var layoutBoth = {
  title: "Superimposed Deformed Structure on Original Structure",
  width:600,
  height:600,
  showlegend: false,
  xaxis: {
    autorange: true,
    showgrid: true,
    zeroline: false,
    showline: true,
    autotick: true,
    showticklabels: true,
	linewidth: 2,
    mirror: true
  },
  yaxis: {
    autorange: true,
    showgrid: false,
    zeroline: false,
    showline: true,
    autotick: true,
    showticklabels: true,
	linewidth: 2,
    mirror: true
  },
  annotations: annDeformed
}
Plotly.newPlot('myDivOrig', dataOrig,layoutOrig);
Plotly.newPlot('myDivDeformed', dataDeformed,layoutDeformed);
Plotly.newPlot('myDivBoth', dataBoth,layoutBoth);

});
/*Plotting the animated graph
Plotly.newPlot('myDivAnimated', dataOrig, layoutOrig);

function randomize() {
  Plotly.animate('myDivAnimated', {
    data: dataDeformed,
    layout: layoutDeformed
  }, {
    transition: {
      duration: 500,
      easing: 'cubic-in-out'
    },
	  frame: {
		  duration: 500
	  }
  })
}*/
</script>

</body>

</html>
